.header {
    background-color: #F8F9FA;
    height: auto;
}

main p, main h2 {
    margin-left: 6%;
}

main .form-group {
    width: 50%;
}

main {
    padding: 4%;
    background-color: lightblue;
    height: auto;
}

aside {
    text-align: center;
    background-color: lightgreen;
    height: auto;
}

h2 {
    margin-right: 2%;
}

.list-group-item {
    background-color: transparent;
}

.slider img {
   max-width: 100%;
   margin: auto;
   height: auto;
}

.footer {
    background-color: pink;
    height: 250px;
}

.commentaire {
    background-color: lightgrey;
    overflow: auto;
    max-height: 150px;
    ;
}

h1 {
    text-align: center;
}


.pagination {
   justify-content: center;
}

article {
   margin: 2%;
   padding: 6%;
}

article h3 {
   margin: 2% 0;
}

article p {
   margin-left: 0;
}

.tchat{
   height: 386px;
}

.navbar {
   justify-content: flex-end;
}

.bx-wrapper {
   margin: auto;
}
