body {
    background-image: url("../image/bg_presentation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: transparent;
    height: auto;
}

main p, main h2 {
    margin-left: 6%;
    color: white;
}

main .form-group {
    width: 50%;
}

main {
    padding: 4%;
    background-color: rgb(43, 56, 76, 0.5);
    height: auto;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

aside {
    text-align: center;
    background-color: lightgreen;
    height: auto;
}

.cart {
   height: 500px;;
   overflow: auto;
}

h2 {
    margin-right: 2%;
}

.list-group-item {
    background-color: transparent;
}

.slider img {
   max-width: 100%;
   margin: auto;
   height: auto;
}

.footer {
    background-color: pink;
    height: 250px;
}

.commentaire {
    background-color: lightgrey;
    overflow: auto;
    max-height: 150px;
    ;
}

h1 {
    text-align: center;
    margin-top: 5%;
    color: white;
}


.pagination {
   justify-content: center;
}

article {
   margin: 2%;
   padding: 6%;
}

article h3 {
   margin: 2% 0;
}

article p {
   margin-left: 0;
}

.article_produit h3 {
    margin: 10% 5%;
}

.tchat{
   height: 386px;
}

.navbar {
  justify-content: flex-end;
  background-color: transparent !important;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
}


.bx-wrapper {
   margin: auto;
}
