#header {
    background-color: red;
}

nav p {
 margin-left: 47%;
}

#article {
    background-color: black;
    color: white;
    max-height: 150px;
    overflow: auto;


}

#calcule_prix {
    background-color: yellow;
    width: 100%;
    padding-left: 1rem;

}


.paiement {
    margin: 1rem 0 1rem 1rem;
}

#but_total {
    margin-bottom: 2rem;
}

#footer {
    background-color: green;
}
